<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
     <div class="sidebar-brand-icon rotate-n-15">
       <i class="fas fa-laugh-wink"></i>
     </div>
     <div class="sidebar-brand-text mx-3">Book The Water</div>
   </a>

   <hr class="sidebar-divider my-0">

   <hr class="sidebar-divider">

   <hr class="sidebar-divider">

   <div class="sidebar-heading">
     Admin Chart
   </div>


       
    <li class="nav-item">
     <a class="nav-link" routerLink="/addcard"><b>Add Product</b>
      
       </a>
   </li>

   <li class="nav-item">
     <a class="nav-link" routerLink="/orderhistory"><b>View Product</b>
       
       </a>
   </li>


   <li class="nav-item">
     <a class="nav-link" routerLink="/Userdetail"><b>User Detail</b>
      
       </a>
   </li>

   <li class="nav-item">
     <a class="nav-link" routerLink="/promocode"><b>Add PromoCode</b>

       </a>
   </li>

   <li class="nav-item">
     <a class="nav-link" routerLink="/ViewPromocoded"><b>View PromoCode</b>
     
       </a>
   </li>
   <li class="nav-item">
      <a class="nav-link" routerLink="/quantity"><b>Add Quantity</b>
      
        </a>
    </li>  
    <li class="nav-item">
        <a class="nav-link" routerLink="/viewquantity"><b>View Quantity</b>
        
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vieworder"><b>orderhistory</b>
        
          </a>
      </li>

   <li class="nav-item">
       <a class="nav-link" (click)="logout()"><b>Logout</b>
         <i class="fas fa-fw fa-table"></i>
         </a>
     </li>



 
    <hr class="sidebar-divider d-none d-md-block">

  </ul>