<div id="wrapper">
    <app-sidebar></app-sidebar>
 
    
    <div id="content-wrapper" class="d-flex flex-column">

     <!-- Main Content -->
     <div id="content">
       <app-header></app-header>

      

       
        <div class="container">
          <h1>Add Quantity</h1>
          
          <hr>

          <form class="newForm" #newForm="ngForm" (ngSubmit)= "onSubmit()"  >
           

            <div class="login-form-body">
              
                    
               

                <div class="form-gp">
                    <label for="category"><b>Category</b></label>
                    <select class="form-control" required #quantity="ngModel" name="category" [(ngModel)]="userModel.category">
                    <!-- <input type="text" required #category="ngModel" class="form-control" name="category" placeholder="category"   [(ngModel)]="userModel.category"> -->
                    <option *ngFor="let category of category"[value]="category" [selected]="category.selected == true">{{category}} Litter</option>
                </select>
                </div>
               
    


                <div class="form-gp">
                    <label for="quantity"><b>quantity</b></label>
                    <input type="number" required #quantity="ngModel" class="form-control" name="quantity" placeholder="Quantity"  [(ngModel)]="userModel.quantity">
                    
                </div>
                
                
                <div class="submit-btn-area">
                    <button type="submit"  class="btn btn-primary center-block" [disabled]="newForm.form.invalid">Submit</button>
                </div>
            </div>
        </form>
      </div>
      
     </div>
       
  </div>
  </div>

  