


  <div id="wrapper">

   <app-sidebar></app-sidebar>
 
  
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
  
          <app-header></app-header>
        
          <div>
              <table class="table table-striped">
                <tr>
                  <th>No</th>
                  <th> Name</th>
                  <th>Mobile_NO</th>
                  <th>mail_id</th>
                  <th>City</th>
                  <th>Adress</th>

                </tr>
                {{searchText}}
                <!-- <table *ngFor="let emp of customerData | grdFilter: {name: searchText, Age:searchText,  blog: searchText}; let i=index;"></table> -->
                <tr *ngFor="let u of table | grdFilter: { name: searchText, mobile: searchText, city: searchText}; let i = index;">
                  <td style="width: 5%;">{{i+1}}</td>
                  <td style="width: 5%;">{{u.name}}</td>
                  <td style="width: 5%;">{{u.mobile}}</td>
                  <td style="width: 5%;">{{u.email}}</td>
                  <td style="width: 5%;">{{u.city}}</td>
                  <td style="width: 5%;">{{u.address}}</td>
                </tr>
              
              
              </table>
 
            </div>
      </div>
    </div>
  
   <!-- // {{u.https://sheltered-woodland-33544.herokuapp.com/product_image/}}  -->
  
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
